{( helper.elements.bower('polymer') )}
{( helper.elements.bower('paper-input') )}

<polymer-element name="my-input" attributes="text">
    <template>
        <div>
            <p>
                <paper-input-decorator label="Your Name" floatingLabel>
                    <input is="core-input" id="textInput" value="{{text}}">
                </paper-input-decorator><br>
                {( __('LABEL_ELEMENT_MY_INPUT_VALUE') )}: {{text}}
            </p>       
        </div>
    </template>
    <script>
        Polymer({
            text: 'Hello World!'
        });
    </script>
</polymer-element>