{( helper.elements.bower('polymer') )}
{( helper.elements.bower('paper-slider') )}

<polymer-element name="my-slider" attributes="num">
    <template>
        <style>
        paper-slider {
            width: 100%;
        }
        </style>
        <div>
            <p>
                <paper-slider snaps step="2" snaps min="-8" max="8" is="core-slider" id="numInput" value="{{num}}">
                </paper-slider><br>
                Value: {{realNum}}
            </p>       
        </div>
    </template>
    <script>
        Polymer({
            num: 0,
            realNum: 1,
            numChanged: function () {
                this.realNum = this.num;

                if (this.realNum == 0) {
                    this.realNum = 1;
                } else {
                    this.realNum = this.realNum > 0 ? this.realNum + 1 : this.realNum - 1;
                }
            }
        });
    </script>
</polymer-element>