{% macro listItem(name, url, icon) %}
<paper-item class="{% if name == activeMenu %}active{% endif %}" data-href="{( helper.urlVar(url) )}"><core-icon class="icon-button" icon="{( icon )}"></core-icon> {( __('LABEL_DRAWER_' + name|upper) )}</paper-item>
{% endmacro %}

{% if isAuthenticated %}
<core-menu>
    <paper-item>{{ __('LABEL_DRAWER_GREETING') }}!</paper-item>
</core-menu>
{% else %}
<core-menu>
{% for item in menu %}
    {% if item.auth_only || item.guest_only %}
        {% if item.auth_only && isAuthenticated %}
            {( listItem(loop.key, item.url, item.icon) )}
        {% endif %}
        {% if item.guest_only && !isAuthenticated %}
            {( listItem(loop.key, item.url, item.icon) )}
        {% endif %}
    {% else %}
        {( listItem(loop.key, item.url, item.icon) )}
    {% endif %}
{% endfor %}
</core-menu>
{% endif %}