{% spaceless %}
<!doctype html>
<head>
<title>{( headTitle )}</title>
{% endspaceless %}

{%- block META -%}
{% include './meta.html' ignore missing %}
{%- endblock META -%}

{% spaceless %}
{( helper.assets.css(assetsName) )}
{% endspaceless %}

{%- block STYLES -%}
{% include './styles.html' ignore missing %}
{%- endblock STYLES -%}

{%- block IMPORTS -%}
{% include './imports.html' ignore missing %}
{%- endblock IMPORTS -%}
</head>
<body unresolved>
    <core-drawer-panel>
        <core-header-panel drawer>
            <core-toolbar>
                {( app.title )}
            </core-toolbar>
            {% block DRAWER %}
                {% include './drawer.html' ignore missing %}
            {% endblock DRAWER %}
        </core-header-panel>
        <core-header-panel main>
            {% block HEADER %}
                {% include './header.html' ignore missing %}
            {% endblock HEADER %}
            <div id="main-container">
                {% block CONTENT %}
                    {% include './content.html' ignore missing %}
                {% endblock CONTENT %}

                {% block FOOTER %}
                    {% include './footer.html' ignore missing %}
                {% endblock FOOTER %}
            </div>
        </core-header-panel>
    </core-drawer-panel>

    {% block SCRIPTS %}
        {( helper.locale(locales) )}
        {( helper.assets.js(assetsName) )}
    {% endblock SCRIPTS %}
</body>
</html>
